/* Credit: https://medium.com/@msanathkumar/understanding-transitions-and-animations-in-vuejs-115a0f5c6fbc */
.fade-enter{
    opacity: 0;
}

.fade-enter-active{
    transition: opacity 1s;
}

.fade-leave{
    /* opacity: 1; */
}

.fade-leave-active{
    transition: opacity 1s;
    opacity: 0;
}
.active-rule{
    border-left: 2px solid green;
    margin: 0 0 0 -6px;
    padding: 0 0 0 4px;
}