{% extends "base.html" %}
{% load static %}
{% load cache_control %}
{% load breadcrumbs %}

{% block page-title %}Student Portal{% endblock %}

{% block subtitle %}Welcome to the CASS Student Portal{% endblock %}

{% block breadcrumb-trail %}
    {% finalcrumb 'Homepage' %}
{% endblock %}

{% block content %}
    {% if render.msg != None %}
        <p class="msg-success">{{ render.msg }}</p>
    {% endif %}
    {# linebreaksbr adds a <br> whenever there is a \n in a string #}
    {% if render.error != None %}
        <p class="msg-error">{{ render.error|linebreaksbr }}</p>
    {% endif %}

    <p>
        This page provides a searchable list of program templates in PDF form.<br>
        Search by the program name to find the plan you're looking for and click on the program to view the template.
    </p>

    <div id="programs">
        <div class="box bdr-solid bdr-uni bg-uni50 anuform custom_search_bar custom_search_bar_full_length">
            <input class="text fuzzy-search" size="24" maxlength="75" type="text"
                   placeholder="Search for your program here...">
        </div>

        <div class="list">
            {% for degree in programs %}
                <a href="../staff/pdf/program?id={{ degree.id }}" target="_blank" class="hide-link-underline">
                    <div class="course-details hide">
                        {{ degree.name }}
                        {{ degree.year }}
                        {% if degree.programType == 'ugrad-sing' %}
                            Undergraduate Single Pass Degree
                        {% elif degree.programType == 'ugrad-doub' %}
                            Undergraduate Flexible Double Degree
                        {% elif degree.programType == 'hon' %}
                            Honours Degree
                        {% elif degree.programType == 'mast-sing' %}
                            Masters Single Degree
                        {% elif degree.programType == 'mast-adv' %}
                            Masters (Advanced) Degree
                        {% elif degree.programType == 'mast-doub' %}
                            Masters Flexible Double Degree
                        {% elif degree.programType == 'vert-doub' %}
                            Vertical Flexible Double Degree
                        {% elif degree.programType == 'other' %}
                            Other Degree
                        {% endif %}
                        {{ degree.units }}
                    </div>

                    <div class="card selectable-card">
                        <div class="box-solid">
                            <div class="card-content">
                                <b class="course-title">
                                    {{ degree.name }}
                                </b>
                                -
                                <b class="course-year">
                                    {{ degree.year }}
                                </b>
                                <br />
                                <span class="course-type">
                                    {% if degree.programType == 'ugrad-sing' %}
                                        Undergraduate Single Pass Degree
                                    {% elif degree.programType == 'ugrad-doub' %}
                                        Undergraduate Flexible Double Degree
                                    {% elif degree.programType == 'hon' %}
                                        Honours Degree
                                    {% elif degree.programType == 'mast-sing' %}
                                        Masters Single Degree
                                    {% elif degree.programType == 'mast-adv' %}
                                        Masters (Advanced) Degree
                                    {% elif degree.programType == 'mast-doub' %}
                                        Masters Flexible Double Degree
                                    {% elif degree.programType == 'vert-doub' %}
                                        Vertical Flexible Double Degree
                                    {% elif degree.programType == 'other' %}
                                        Other Degree
                                    {% endif %}
                                </span>
                                /
                                <span class="course-units">
                                    {{ degree.units }} units
                                </span>

                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'js/vendor/list.js' %}" type="application/javascript"></script>
    <script src="{% static_no_cache 'js/student/list.js' %}" type="application/javascript"></script>
{% endblock %}
