{% extends "base.html" %}
{% load static %}
{% load breadcrumbs %}

{% block page-title %}{% if edit %}Edit{% else %}Create{% endif %} List{% endblock %}

{% block subtitle %}{% if edit %}Edit{% else %}Create{% endif %} List{% endblock %}

{% block breadcrumb-trail %}
    {% breadcrumb '/admin/home' 'Admin Home'%}
    {% breadcrumb '/admin/list/?view=Program' 'Programs/Subplans/Courses' %}
    {% if edit %}
        {% finalcrumb 'Edit List' %}
    {% else %}
        {% finalcrumb 'Create List' %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if render.msg != None %}
        <p class="msg-success">{{ render.msg }}</p>
    {% endif %}

    {% for error in form.non_field_errors %}
         <p class="msg-error">{{ error }}</p>
    {% endfor %}

    <form class="anuform" id="mainForm" action="" method="post" onsubmit="return false;" autocomplete="off">
        {% csrf_token %}

        <input type="hidden" id="redirect" name="redirect">

        <fieldset>
            <legend>Configure List Details</legend>

            {{ form.management_form }}

            {% for field in form %}
                    <p class="form-group">
                        {% if not field.is_hidden  %}
                            {{ field.label_tag }}
                        {% endif %}
                        {{ field }}
                    </p>
                    {% for error in field.errors %}
                         <div class="msg-error inline-error">{{ error }}</div>
                    {% endfor %}
            {% endfor %}

        <br>
        <h4>Course listing</h4>
            <div id="app">
                <multiselect
                        :options="options"
                        :value="optionsProxy"
                        @input="updateSelected"
                        :show-labels="true"
                        :multiple="true"
                        :searchable="true"
                        :close-on-select="false"
                        placeholder="Search courses"
                        :custom-label="customLabel"
                        track-by="name"
                        :max-height="100"
                        :loading="showLoadingSpinner"
                        ref="multiselectref">
                </multiselect>

                <ul class="resources-list">
                    <template v-for="(resource, index) in selectedResources">
                        <li class="resource-item" :data-index="index">
                            <div class="resource-info">
                                <div class="resource-title" :id="index">
                                    <span>[[ resource.code ]] - [[ resource.name ]] - [[resource.id]]</span>
                                </div>
                            </div>
                            <div class="delete-controls" v-on:click.prevent="removeDependency(index)">
                                <i class="fa fa-times fa-fw"></i>
                            </div>
                        </li>
                    </template>
                </ul>

            </div>
        </fieldset>
    </form>

    <p class="text-right">
        <input class="btn-uni-grad btn-large" type="button" value="Cancel"
               onclick="{% if edit %}returnToList('Course'){% else %}goBack(){% endif %}">
        {% if edit %}
            <input class="btn-uni-grad btn-large" type="submit" value="Save"
               onclick="submit_form(this.value, false)">
        {% endif %}
        <input class="btn-uni-grad btn-large" type="submit" value="{% if edit %}Save and Exit{% else %}Create{% endif %}"
               onclick="submit_form(this.value, true)">
    </p>

    <script>
        function submit_form(form_action, redirect) {
            if (true) {
                document.getElementById('mainForm').action.value = form_action;
                document.getElementById('redirect').value = redirect;
                document.getElementById('mainForm').submit();
                return true;
            } else {
                return false;
            }
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">

    <script src="{% static 'js/multiselect.js' %}" type="application/javascript"></script>


{% endblock %}
