{% extends "base.html" %}

{% block page-title %}Edit {{ elementDesc }}{% endblock %}

{% block subtitle %}Edit {{ elementDesc }}{% endblock %}

{% block content %}
    {% if msg != None %}
        <p class="{% if is_error %}msg-error{% else %}msg-success{% endif %}">{{ msg }}</p>
    {% endif %}


    <form class="anuform" action="" method="post">
        {% csrf_token %}

            <!-- As HTML forms only support get or post methods,
            add this hidden input to hint that it is actually a put request. -->
            <input type="hidden" name="_method" value="patch">

        <fieldset>
            <legend>Configure {{ elementDesc }} Details</legend>
            {{ form.as_p }}

        </fieldset>

        <fieldset>
            <legend>Edit Content</legend>
            {% if elementDesc == "Subplan" %}<p>Placeholder content pending subplan content input</p>{% endif %}
            {{ content_snippet.as_p }}

        </fieldset>

        {% if elementDesc == "Program Template" %}
            <fieldset>
                <legend>Staff comments</legend>
                <br>
                {{ comment_snippet.as_p }}

            </fieldset>
        {% endif %}

        <p class="text-right">
            <input class="btn-uni-grad btn-large" type="submit" value="Save">
        </p>
    </form>

{% endblock %}
