{% extends "base.html" %}

{% block page-title %}Template/Subplan List{% endblock %}

{% block subtitle %}Templates{% endblock %}

{% block content %}
    <table class="fullwidth tbl-cell-bdr">
        <tr>
            {% for item in degrees.0 %}
                <th>{{ item }}</th>
            {% endfor %}
        </tr>
        {% for row in degrees %}
            <tr>
                {% for _, item in row.items %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    {% if not degrees %}<p>No templates to display</p>{% endif %}

    <br />

    <h1 class="title" id="page-title">Subplans</h1>
    <table class="fullwidth tbl-cell-bdr">
        <tr>
            {% for item in subplans.0 %}
                <th>{{ item }}</th>
            {% endfor %}
        </tr>
        {% for row in subplans %}
            <tr>
                {% for _, item in row.items %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    {% if not subplans %}<p>No subplans to display</p>{% endif %}
{% endblock %}