{% extends "base.html" %}

{% block page-title %}Template/Subplan List{% endblock %}

{% block subtitle %}Templates/Subplans{% endblock %}

{% block content %}
    <table id="contentTable" class="fullwidth tbl-cell-bdr">
        <tr>
            {% for item in data.0 %}
                <th>{{ item }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
            <tr>
                {% for _, item in row.items %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}