{% extends "pdf_base.html" %}
{% load course_boxes %}

{% block page-title %}{{ program.name }} ({{ program.year }}){% endblock %}

{% block content %}
    <h1 class="no-bottom-margin">{{ program.name }} ({{ program.year }}, {{ program.units }} units)</h1>

    <div class="box grey-text">
        Student name & ID number: <br />
    </div>

    <div class="columns-3 columns-no-gap">

        {% for rule in program.rules %}
            <div class="box">
                {% if rule.type == "subplan" %}
                    <p>Completion of {% if rule.contents|length == 1 %} the following {% else %} one subplan from the following list {% endif %}for {{ rule.units }} units:</p>
                    <ul>
                        {% for value in rule.contents.values %}
                            <li>{{ value.name }}</li>
                        {% endfor %}
                    </ul>
                {% elif rule.type == "custom_text" %}
                    <p>For {{ rule.units }} units:</p>
                    <p>{{ rule.text }}</p>
                {% else %}
                    ERROR: Unknown rule type "{{ rule.type }}"!
                {% endif %}
            </div>


            {% if rule.type == "subplan" %}
                {% course_box rule.units %}
            {% elif rule.type == "custom_text" %}
                <!-- TODO: render custom text courses here optionallly -->
            {% endif %}
        {% endfor %}

        <div class="break-column"></div>

        <div class="box small-text">
            <p>
                Instructions for filling in:
            </p>

            {{ program.studentNotes | linebreaks }}
        </div>

        {% for rule in program.globalRequirements %}
            <div class="box {% if forloop.last %} break-column{% endif %}">
                {% if rule.type == "min" %}
                    <p>
                        A <b>minimum</b> of {{ rule.unit_count }} units must come from completion of {{ rule.prettyList }} courses.
                    </p>
                {% elif rule.type == "max" %}
                    <p>
                        A <b>maximum</b> of {{ rule.unit_count }} units may come from completion of {{ rule.prettyList }} courses.
                    </p>
                {% else %}
                    ERROR: Unknown global requirement type "{{ rule.type }}"!
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
