{% extends "base.html" %}
{% load breadcrumbs %}

{% block page-title %}Home{% endblock %}

{% block subtitle %}Welcome to the CASS Student Planner!{% endblock %}

{% block breadcrumb-trail %}
    {% finalcrumb 'Homepage' %}
{% endblock %}

{% block content %}
    {% if render.msg != None %}
        <p class="msg-success">{{ render.msg }}</p>
    {% endif %}
    {# linebreaksbr adds a <br> whenever there is a \n in a string #}
    {% if render.error != None %}
        <p class="msg-error">{{ render.error|linebreaksbr }}</p>
    {% endif %}

    <p>
        The CASS student planner tool is designed to help you plan out your degree, either
        at the beginning or throughout. This tool will check for common issues that you may
        encounter in planning out your degree, helping you to graduate on time.
    </p>

    <a href="create/">
        <input class="btn-uni-grad btn-large" type="button" value="Create New Degree Plan" />
    </a>

    <hr />

    <div>
    {% for plan in plans %}
        {% if plan.name %}
        <div class="list w-full">
            <div class="left w-two-third">
                <a href="/edit/?plan={{ plan.name }}" class="hide-link-underline">
                    <div class="card selectable-card">
                        <div class="box-solid">
                            <div class="card-content">
                                <b>{{ plan.name }} </b><text class="right">{{ plan.date }}</text>
                                <br />
                                {{ plan.program }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="w-full">
                <a href="/delete/?plan={{ plan.name }}" class="hide-link-underline">
                    <div class="card selectable-card">
                        <div class="box-solid">
                            <div class="card-content center">
                                <p>Remove</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>

{% endblock %}
