{% extends "base.html" %}
{% load breadcrumbs %}

{% block page-title %}Home{% endblock %}

{% block subtitle %}Welcome to the CASS Student Planner!{% endblock %}

{% block breadcrumb-trail %}
    {% finalcrumb 'Homepage' %}
{% endblock %}

{% block content %}
    {% if render.msg != None %}
        <p class="msg-success">{{ render.msg }}</p>
    {% endif %}
    {# linebreaksbr adds a <br> whenever there is a \n in a string #}
    {% if render.error != None %}
        <p class="msg-error">{{ render.error|linebreaksbr }}</p>
    {% endif %}

    <p>
        The CASS student planner tool is designed to help you plan out your degree, either
        at the beginning or throughout. This tool will check for common issues that you may
        encounter in planning out your degree, helping you to graduate on time.
    </p>

    <a href="create/">
        <input class="btn-uni-grad btn-large" type="button" value="Create New Degree Plan" />
    </a>

    <hr />

    <div>
    {% for plan in plans %}
        {% if plan.name %}
        <div>
            <a href="/edit/?plan={{ plan.name }}" class="hide-link-underline">
                <input class="btn-uni-grad btn-large" type="button"
                       value="Continue previous plan: '{{ plan.name }}', last updated {{ plan.date }}" />
            </a>
            &nbsp;
            <a href="/delete/?plan={{ plan.name }}">
                <input type="button" class="btn-uni-grad btn-snall no-left-margin" value="Remove" formaction="D"/>
            </a>
        </div>
        {% endif %}
    {% endfor %}
    </div>

{% endblock %}
