{% extends "base.html" %}
{% load static %}

{% block page-title %}View Course{% endblock %}

{% block subtitle %}View Course{% endblock %}

{% block content %}
    {% if render.msg != None %}
        <p class="{% if render.is_error %}msg-error{% else %}msg-success{% endif %}">{{ render.msg }}</p>
    {% endif %}

    <div class = 'anuform'>
        <fieldset>
            <legend>{{data.name}}</legend>
            <p>
                <label>Course Name:</label>
                <input class="text" type="text" disabled value="{{ data.name }}">
            </p>
            <p>
                <label>Course Code:</label>
                <input class="text" type="text" disabled value="{{ data.code }}">
            </p>
            <p>
                <label>Course Year:</label>
                <input class="text" type="text" disabled value="{{ data.year }}">
            </p>
            <p>
                <label>Course Units:</label>
                <input class="text" type="text" disabled value="{{ data.units }}">
            </p>
            <p>
                <label>Offerings:</label>
                {% if data.offeredSem1 and data.offeredSem2 %}
                    Semester 1, Semester 2
                {% else %}
                    {% if data.offeredSem1 %}
                        Semester 1
                    {% endif %}
                    {% if data.offeredSem2 %}
                        Semester 2
                    {% endif %}
                {% endif %}

            </p>
        </fieldset>
    </div>
{% endblock %}
