{% extends "base.html" %}
{% load static %}

{% block page-title %}View Subplan{% endblock %}

{% block subtitle %}View Subplan{% endblock %}

{% block content %}
    {% if render.msg != None %}
        <p class="{% if render.is_error %}msg-error{% else %}msg-success{% endif %}">{{ render.msg }}</p>
    {% endif %}

    <div class = 'anuform'>
        <fieldset>
            <legend>{{data.name}}</legend>
            <p>
                <label>Subplan Code:</label>
                <input class="text" type="text" disabled value="{{ data.code }}">
            </p>
            <p>
                <label>Subplan Name:</label>
                <input class="text" type="text" disabled value="{{ data.name }}">
            </p>
            <p>
                <label>Subplan Year:</label>
                <input class="text" type="text" disabled value="{{ data.year }}">
            </p>
            <p>
                <label>Subplan Units:</label>
                <input class="text" type="text" disabled value="{{ data.units }}">
            </p>
            <p>
                <label>Subplan Type:</label>
                {% if data.planType == 'MAJ' %}
                    Major
                {% endif %}
                {% if data.planType == 'MIN' %}
                    Minor
                {% endif %}
                {% if data.planType == 'SPEC' %}
                    Specialisation
                {% endif %}
            </p>
        </fieldset>
    </div>
{% endblock %}
