{% extends "base.html" %}
{% load static %}

{% block page-title %}{{ data.name }} - {{ data.code }} ({{ data.year }}){% endblock %}

{% block subtitle %}{{ data.name }}{% endblock %}

{% block content %}
    <div class="right box-header" style="padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 10px;">
        <div>
            <h4>Program Type</h4>
            <li>
                {% if data.degreeType == 'ugrad-sing' %}
                    Undergraduate Single Pass Degree
                {% endif %}
                {% if data.degreeType == 'ugrad-doub' %}
                    Undergraduate Flexible Double Degree
                {% endif %}
                {% if data.degreeType == 'hon' %}
                    Honours Degree
                {% endif %}
                {% if data.degreeType == 'mast-sing' %}
                    Masters Single Degree
                {% endif %}
                {% if data.degreeType == 'mast-adv' %}
                    Masters (Advanced) Degree
                {% endif %}
                {% if data.degreeType == 'mast-doub' %}
                    Masters Flexible Double Degree
                {% endif %}
                {% if data.degreeType == 'vert-doub' %}
                    Vertical Flexible Double Degree
                {% endif %}
                {% if data.degreeType == 'other' %}
                    Other Degree
                {% endif %}
            </li>
        </br>
            <div class="left">
                <h4>Academic Plan</h4>
                <li>{{ data.code }}</li>
            </div>
            <div class="right">
                <h4>Year</h4>
                <li>{{ data.year }}</li>
            </div>

        </div>
    </div>

    </br>

    <div>
        <h3>Program Requirements</h3>
        <p>The {{ data.name }} requires completion of {{ data.units }} units, of which:</p>

        {% for rule in data.globalRequirements %}
            {% if rule.type == "min" %}
                <p style="margin-left: 40px">
                    A minimum of {{ rule.unit_count }} units must come from completion of {{ rule.prettyList }} courses.
                </p>
            {% endif %}
            {% if rule.type == "max" %}
                <p style="margin-left: 40px">
                    A maximum of {{ rule.unit_count }} units may come from completion of {{ rule.prettyList }} courses.
                </p>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
