{% extends "base.html" %}
{% load static %}

{% block page-title %}View Program{% endblock %}

{% block subtitle %}View Program{% endblock %}

{% block content %}
    {% if render.msg != None %}
        <p class="{% if render.is_error %}msg-error{% else %}msg-success{% endif %}">{{ render.msg }}</p>
    {% endif %}

    <div class = 'anuform'>
        <fieldset>
            <legend>{{data.name}}</legend>

            {{ form.management_form }}

            {% for field in form %}
                <p class="form-group">
                    {% if not field.is_hidden %}
                        {{ field.label_tag }}
                    {% endif %}
                    {{ field }}
                </p>
                {% for error in field.errors %}
                     <div class="msg-error inline-error">{{ error }}</div>
                {% endfor %}
            {% endfor %}

            <p>
                <label>Program Code:</label>
                <input class="text" type="text" value="{{ data.code }}" disabled>
            </p>
            <p>
                <label>Program Name:</label>
                <input class="text" type="text" value="{{ data.name }}" disabled>
            </p>
            <p>
                <label>Program Year:</label>
                <input class="text" type="text" value="{{ data.year }}" disabled>
            </p>
            <p>
                <label>Program Units:</label>
                <input class="text" type="text" value="{{ data.units }}" disabled>
            </p>
            <p>
                <label>Program Type:</label>
                {% if data.degreeType == 'ugrad-sing' %}
                    Undergraduate Single Pass Degree
                {% endif %}
                {% if data.degreeType == 'ugrad-doub' %}
                    Undergraduate Flexible Double Degree
                {% endif %}
                {% if data.degreeType == 'hon' %}
                    Honours Degree
                {% endif %}
                {% if data.degreeType == 'mast-sing' %}
                    Masters Single Degree
                {% endif %}
                {% if data.degreeType == 'mast-adv' %}
                    Masters (Advanced) Degree
                {% endif %}
                {% if data.degreeType == 'mast-doub' %}
                    Masters Flexible Double Degree
                {% endif %}
                {% if data.degreeType == 'vert-doub' %}
                    Vertical Flexible Double Degree
                {% endif %}
                {% if data.degreeType == 'other' %}
                    Other Degree
                {% endif %}
            </p>
        </fieldset>
    </div>

    <div class = 'anuform'>
        <fieldset>
            <legend>Global Requirements</legend>
            <br>
            {% for rule in data.globalRequirements %}
                <div class="box bdr-top-solid bdr-bottom-solid">
                    <fieldset>
                        {% if rule.type == "max" or rule.type == "min"%}
                            <p>
                                <b>Rule Type: </b>
                                {% if rule.type == "max" %}
                                    Maximum
                                {% else %}
                                    Minimum
                                {% endif %}
                                Units From Year(s)
                            </p>
                            <hr/>

                            <fieldset>
                                <p>
                                    <label>
                                        Unit Count: {{ rule.unit_count }}
                                    </label>
                                </p>

                                <p>
                                    <label>
                                        Years:
                                    </label>
                                </p>
                            </fieldset>

                            <table class="tbl-row-bdr">
                                <thead>
                                    <tr>
                                        <th>
                                            1000-level
                                        </th>
                                        <th>
                                            2000-level
                                        </th>
                                        <th>
                                            3000-level
                                        </th>
                                        <th>
                                            4000-level
                                        </th>
                                        <th>
                                            5000-level
                                        </th>
                                        <th>
                                            6000-level
                                        </th>
                                        <th>
                                            7000-level
                                        </th>
                                        <th>
                                            8000-level
                                        </th>
                                        <th>
                                            9000-level
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align:center">
                                            {% if rule.courses1000Level %} &#10004 {% else %} - {% endif %}
                                        </td>
                                        <td style="text-align:center">
                                            {% if rule.courses2000Level %} &#10004 {% else %} - {% endif %}
                                        </td>
                                        <td style="text-align:center">
                                            {% if rule.courses3000Level %} &#10004 {% else %} - {% endif %}
                                        </td>
                                        <td style="text-align:center">
                                            {% if rule.courses4000Level %} &#10004 {% else %} - {% endif %}
                                        </td>
                                        <td style="text-align:center">
                                            {% if rule.courses5000Level %} &#10004 {% else %} - {% endif %}
                                        </td>
                                        <td style="text-align:center">
                                            {% if rule.courses6000Level %} &#10004 {% else %} - {% endif %}
                                        </td>
                                        <td style="text-align:center">
                                            {% if rule.courses7000Level %} &#10004 {% else %} - {% endif %}
                                        </td>
                                        <td style="text-align:center">
                                            {% if rule.courses8000Level %} &#10004 {% else %} - {% endif %}
                                        </td>
                                        <td style="text-align:center">
                                            {% if rule.courses9000Level %} &#10004 {% else %} - {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        {% endif %}
                    </fieldset>
                </div>
            {% endfor %}

        </fieldset>
    </div>
{% endblock %}
